{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">
  <!-- left grey column with menues -->
  <div id="LeftPanel" style="width: 20%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">

    <!-- this is the drop-down menu where the country can be selected
    the action "/country_choice" leads to line 95 in views.py
    the id="country_id" is important for the javascript function below in line 68 -->
    <form method="POST" action="/country_choice" id="country_id">
      <!-- this is just a heading -->
      <h3>Country</h3>
      <!-- everything in between double curly brackets has to be defined in the context dict in views.py line 79 -->
      <!-- the onchange="change_country();" refers to the javascript function in line 68 -->
      {{ form_country.countrys(onchange="change_country();") }}
    </form>

    <form method="POST" action="/indicator_choice" id="indicator_id">
      <h3>Climate Indicator</h3>
      {{ form_indicator.indicators(onchange="change_indicator();") }}
    </form>

    <form method="POST" action="/season_choice" id="season_id">
      <h3>Time Scale</h3>
      {{ form_season.seasons(onchange="change_season();") }}
    </form>

    <form method="POST" action="/region_choice" id="region_id">
      <h3>Administrative Region</h3>
      {{ form_region.regions(onchange="change_region();") }}
    </form>

  </div>

  <!-- main column with the plot -->
  <div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%; padding-top:2%;">

    <p>choices.html is written in html with some javascript</p>

    <p>Things written in double curly brackets have to be defined in the context_dict in line 78 of views.py <br>
    example: {{ some_text }}</p>

    <div id="LeftPanel" style="width: 45%; height: 100%; float: left; padding-left: 2%; padding-top:2%;">
      <h3>This is a plot created in plotting.py line 38 (called in views.py line 75)</h3>
      <IMG SRC={{ plot_file_name }} ALT='{{ plot_file_name }}' WIDTH=350 HEIGHT=350></IMG>
    </div>

    <div id="LeftPanel" style="width: 45%; height: 100%; float: left; padding-left: 2%; padding-top:2%;">
      <h3>This is a plot created in plotting.py line 69 (called in views.py line 76)</h3>
      <IMG SRC={{ plot_file_name_map }} ALT='{{ plot_file_name_map }}' WIDTH=350 HEIGHT=350></IMG>
    </div>
  </div>

</div>


<!-- here are some functions defined in javascript
they are required to get buttons and menues to work -->

<script type="text/javascript">

  // this function handles changes in the country menu
  // when a new country is selcted, the loading screen is shown
  // than the action defined in line 11 is excecuted
  function change_country() {
    $("#loading").show();
    document.getElementById("country_id").submit();
  }

  function change_indicator() {
    $("#loading").show();
    document.getElementById("indicator_id").submit();
  }

  function change_season() {
    $("#loading").show();
    document.getElementById("season_id").submit();
  }

  function change_region() {
    $("#loading").show();
    document.getElementById("region_id").submit();
  }

</script>


{% endblock %}
